<!-- Header -->
<%- include('./partials/header') %>

    <!-- Conteudo da Home -->
    <section>
      <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/img/banner/banner_editoraSabia-01.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/img/banner/banner_editoraSabia-02.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/img/banner/banner_editoraSabia-03.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </section>
    <main>
      <section class="recomendacoes container">
        <h3 class="titulo">Últimos lançamentos</h3>
        <div class="livros">
          <% for(produto of produtos) { %>
            <div class="livros-item">
                <img src="/uploads/<%= produto.img %>">
                <h4><%= produto.titulo %></h4>
                <h4 class="preco">R$ <%= produto.preco.replace('.', ',') %></h4>
                <button><a href="/produtos/<%= produto.id %>">Comprar</a></button>
            </div>
            <% } %>
        </div>
    </section>
    </main>

    <section class="recomendacoes container">
      <h3 class="titulo">Séries em destaque do mês</h3>
      <div class="series">
        <% for(serie of series) { %>
          <div class="livros-item">
              <img src="/uploads/<%= serie.img %>">
              <h4><%= serie.titulo %></h4>
              <h4 class="preco">R$ <%= serie.preco.replace('.', ',') %></h4>
              <button><a href="/produtos/<%= serie.id %>">Comprar</a></button>
          </div>
          <% } %>
          <div class="series-img">
              <img src="/uploads/<%= destaque.img %>">
          </div>
      </div>
  </section>

  <!-- Carrinho -->
  <%- include('./partials/carrinho') %>

    <!-- Footer -->
    <%- include('./partials/footer') %>