<!-- Header -->
<%- include('./partials/header') %>

<!-- Conteúdo -->
    <section class="grid-painel container">
      <!--Menu Usuario-->
      <section class="painel-menu">
        <div class="usuario-card">
          <div class="usuario-img">
            <a><img src="" /></a>
          </div>
          <div class="usuario-info">
            <h6><%= cliente.nome %></h6>
            <p><%= cliente.email %></p>
          </div>
        </div>
        <nav>
          <ul>
            <li class="active"><a href="">Dados pessoais</a></li>
            <li><a href="">Pedidos</a></li>
            <li><a href="">Sair</a></li>
          </ul>
        </nav>
      </section>

      <!--Dados do Usuário-->
      <section class="painel-conteudo">
        <div id="dados-pessoais" class="usuario-pessoal">
          <h2>Dados Pessoais</h2>
          <div class="info-pessoal">
            <div id="pessoal-pronto">
              <div>
                <h4>Nome Completo</h4>
                <p><%= cliente.nome %></p>
              </div>
              <div>
                <h4>E-mail</h4>
                <p><%= cliente.email %></p>
              </div>
              <div>
                <h4>CPF</h4>
                <p><%= cliente.cpf %></p>
              </div>
              <button class="btn"><a>Editar</a></button>
            </div>
          </div>
        </div>

        <div id="dados-endereco" class="usuario-pessoal">
          <h2>Endereço de entrega</h2>
          <div class="info-pessoal">
            <div id="pessoal-pronto">
              <div>
                <h4>Logradouro</h4>
                <p></p>
              </div>
              <div>
                <h4>Complemento</h4>
                <p></p>
              </div>
              <div>
                <h4>Bairro</h4>
                <p></p>
              </div>
              <div>
                <h4>Cidade</h4>
                <p></p>
              </div>
              <div>
                <h4>Estado</h4>
                <p></p>
              </div>
              <div>
                <h4>CEP</h4>
                <p></p>
              </div>
              <button class="btn"><a>Editar</a></button>
            </div>
          </div>
        </div>

        <div id="dados-configuracoes" class="usuario-pessoal">
          <h2>Configurações</h2>
          <div class="info-pessoal">
            <div id="pessoal-pronto">
              <div>
                <h4>Redefinir senha</h4>
                <p><%= cliente.senha %></p>
              </div>
              <button class="btn"><a>Editar</a></button>
            </div>
          </div>
        </div>

      </section>
    </section>

<!-- Carrinho -->
<%- include('./partials/carrinho') %>

<!-- Footer -->
<%- include('./partials/footer') %>