<!-- Header -->
<%- include('../partials/adm-header') %>

<!-- Conteúdo -->
<section class="container painel-produtos">
    <h1>Painel Administrativo</h1>
    <h2>Produtos</h2>
    <a href="/adm/produtos/cadastrar" class="btn-adicionar">Adicionar novo</a>

    <!-- Tabela de Produtos -->
    <table class="tabela-produtos">
        <thead>
            <tr>
                <th>Imagem</th>
                <th>Título</th>
                <th>Autor</th>
                <th>Preço</th>
                <th>Descrição</th>
                <th>Avaliação</th>
                <th>Tipo</th>
                <th>Genêro</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <% for(produto of produtos) { %>
                <tr>
                    <td><img src="/uploads/<%= produto.img %>" height="100"/></td>
                    <td><%= produto.titulo %></td>
                    <td><%= produto.autores.nome %></td>
                    <td><%= produto.preco %></td>
                    <td><%= produto.descricao %></td>
                    <td><%= produto.avaliacao %></td>
                    <td><%= produto.tipo.nome %></td>
                    <td><%= produto.generos_id %></td>
                    <td class="acoes">
                        <form action="/adm/produtos/editar/<%= produto.id %>"><button class="btn-editar">Editar</button></form>
                        <form action="/adm/produtos/excluir/<%= produto.id %>" method="POST"><button class="btn-excluir">Excluir</button></form>
                    </td>
                </tr>
            <% } %>
        </tbody>
    </table>
</section>
<!-- Carrinho -->
<%- include('../partials/carrinho') %>

<!-- Footer -->
<%- include('../partials/footer') %>