<!-- Header -->
<%- include('../partials/header') %>

<!-- Conteúdo -->
<section class="container painel-produtos">
    <h1>Painel Administrativo</h1>
    <h2>Produtos - Cadastrar</h2>

    <form method="POST" action="/adm/produtos/acaoCadastrar" enctype="multipart/form-data">
        <div>
            <label>Título:</label>
            <input type="text" name="titulo" />
        </div>
        <div>
            <label>Autor:</label>
            <select type="text" name="autor">
                <% for(let i = 0; i < autores.length; i++) { %>
                    <option value="<%= autores[i].id %>">
                        <%= autores[i].nome %>
                    </option>
                <% } %>
            </select>
        </div>
        <div>
            <label>Preço:</label>
            <input type="text" name="preco" />
        </div>
        <div>
            <label>Descrição:</label>
            <textarea name="descricao"></textarea>
        </div>
        <div>
            <label>Avaliação:</label>
            <input type="text" name="avaliacao" />
        </div>
        <div>
            <label>Imagem:</label>
            <input type="file" name="imagemProduto" />
        </div>

        <button>Salvar</button>
    </form>
</section>

<!-- Carrinho -->
<%- include('../partials/carrinho') %>

<!-- Footer -->
<%- include('../partials/footer') %>