<!-- Header -->
<%- include('../partials/header') %>

<!-- Conteúdo -->
<section class="container painel-produtos">
    <h1>Painel Administrativo</h1>
    <h2>Tipos</h2>
    <a href="/adm/tipos/cadastrar" class="btn-adicionar">Adicionar novo</a>

    <!-- Tabela de Produtos -->
    <table class="tabela-produtos">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <% for(tipo of tipos) { %>
                <tr>
                    <td><%= tipo.nome %></td>
                    <td class="acoes">
                        <form action="/adm/tipos/editar/<%= tipo.id %>"><button class="btn-editar">Editar</button></form>
                        <form action="/adm/tipos/excluir/<%= tipo.id %>" method="POST"><button class="btn-excluir">Excluir</button></form>
                    </td>
                </tr>
            <% } %>
        </tbody>
    </table>
</section>
<!-- Carrinho -->
<%- include('../partials/carrinho') %>

<!-- Footer -->
<%- include('../partials/footer') %>